@import "../../variables";

nav {
  width: 100%;
  text-align: center;

  box-shadow: 0 2px 20px 8px rgba(135, 135, 135, 0.5);
  padding: .75em;
  box-sizing: border-box;

  position: fixed;
  bottom: 0;
  background: #fff;

  overflow: auto;
  white-space: nowrap;

  a {
    margin:0 .2em;
    display: inline-block;
    color: $secondary-text-color;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s  all;

    padding: .2em .75em;
    box-sizing: border-box;
    border-radius: 1em;

    &:visited {
      text-decoration: none;
    }

    &.active{
      background: $light-blue-background;
    }
  }
}