$primary-text-color: #0685f7;
$secondary-text-color: #47535e;
$header-background: #f5f9fa;

$light-blue-background: #ddefff;
$light-orange-background: #fff2dc;
$light-purple-background: #e6def9;
$light-green-background: #e8f2ed;

$basic-box-shadow: 0 10px 15px 0 rgba(46, 62, 72, .05);
$large-box-shadow: 0 4px 25px 0 rgba(46, 62, 72, .2);

//Basic slide up animation
@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

//Basic slide right animation
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}